body{
font-size: 14pt;
background-image: url("../images/triviabackground.jpeg")

}

#header{
color:blue;
text-align:center;
font-size: 52pt;


}

#reset{

  margin-top:20px
}



#Start-Game{
font-size:34pt!important;
width:50%!important;
margin-top:40px;
position:relative;
right:10%;
}



#mainSection{
background:yellow;
width:80%;
height:600px;
text-align:center;
margin-left:10%;
margin-top: 10%;


}

#main{
margin-top:15%;



}

.answer{

font-size:18pt;
width:25%;
margin-left:37%;

}


#Answers{

  margin-top:20px;
}
